{% extends 'nauczyciel/nauczyciel_basic_page.html' %}
{% block portal_active %}active{% endblock %}

{% block header %}
        <h3 align="center" style="font-family: times new roman;font-size: 50px;color: #728892">PRZESŁANE ROZWIĄZANIA DO ZADAŃ</h3>
{% endblock header %}


{% block body %}
<br>
<div class="container-fluid songs-container">

    <div class="row">

        <div class="col-sm-6 col-md-3">
            <div class="panel panel-default">

                <div class="panel-body" style="background-color: #e3f0e8;border: 0px solid #66cdaa;">
                    <a href="{% url 'nauczyciel:nauczyciel_detail' portal.id %}">
                        {% if portal.portal_logo %}
                            <img src="{{ portal.portal_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1 align="center">{{ portal.code }}<br> <small>{{ portal.name }}</small></h1>
                    <h2 align="center">{{ portal.nauczyciel }}</h2>
                </div>
            </div>
        </div>



        <div class="col-sm-7" style="align: center; overflow-y: scroll; height: 600px;background-color: #fff;color: black;font-family: 'Abhaya Libre';font-size: 16px;">
        <h3 align="center"; style="text-align: center;font-family: times new roman;font-size: 40px;color: #728892">Zamieszczone zadania <span class="glyphicon glyphicon-tasks"></span></h3>
    {% for assignment in assignments reversed %}
            <div style="background-color: #e3f0e8; border-radius: 2%;padding: 10px; margin: 5px">
            {{ assignment.description }}<br>
            Termin oddania: {{ assignment.deadline }}<br>
    <a href="{% url 'nauczyciel:view_all_submissions' assignment.id %}">
        <button type="submit" class="btn btn-success" style="background-color: #337ab7;border-color: #2e6da4;"><span class="glyphicon glyphicon-eye-open"></span> Wyświetl rozwiązania</button></a>
    </a><br>
            </div>
    {% endfor %}
        </div>

</div>
{% endblock %}


