{% extends 'portal/basic_page.html' %}

{% load bootstrap3 %}

{% block header %}
  <h3 align="center" style="font-family: times new roman;font-size: 50px;color: #728892">Edycja notatki</h3>
{% endblock header %}

{% block body %}
  <p><a href="{% url 'portal:topic' topic.id %}"><span class="glyphicon glyphicon-menu-left"></span> {{ topic }}</a></p>
  <form action="{% url 'portal:edit_entry' entry.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary"><span class="glyphicon glyphicon-check"></span> Zapisz zmiany</button>
    {% endbuttons %}
  </form>
{% endblock %}
